* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* ############ GLOBAL STYLES ############ */

.nav-link:visited,
.nav-link:link {
    border: 2px solid transparent;
    border-radius: 20px;
}

.nav-link:hover,
.nav-link:active {
    border: 2px solid #ffffff;
    border-radius: 20px;
}

main {
    background-image: url("../img/Star-field-3.png");
}

article {
    background-image: url("../img/Star-field-vlt.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 93vh;
}

footer {
    background-color: black;
}

.footersection {
    color: silver;
}

.footersection__titulo {
    font-size: 22px;
    font-weight: 600;
    padding-left: 5px;
    color: silver !important;
}

.footersection__contenido {
    font-size: 16px;
    font-weight: 500;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
}

/*
h2 {
    color: black;
    font-size: 50px;
    padding-top: 15%;
    font-family: 'Montserrat';
    font-weight: bold;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 50px;
    padding-top: 30%;
    font-family: 'Montserrat';
    font-weight: bold;
}
*/

/* ############ HOME STYLES ############ */

#headermain {
    background-image: url('../img/RD_LCO2.png');
    background-position: top;
    background-size: cover;
    height: 100vh;
}

.homeheader {
    font-family: 'Montserrat';
}

.homeheader__titulo {
    color: #ffffff;
    font-size: 50px;
    padding-top: 30%;
    font-weight: bold;
}

.homeheader__subtitulo {
    color: silver;
    font-size: 23px;
    font-weight: normal;
}

#headertravel {
    background-image: url('../img/IMG_9076.JPG');
    background-position: top;
    background-size: cover;
    height: 60vh;
}

#headerphot {
    background-image: url('../img/RD-Hass3.jpg');
    background-position: 0 20%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
}

.resumenhome {
    color: white;
}

.resumenhome__titulo {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 3px;
}

.resumenhome__contenido {
    font-size: 18px;
    font-weight: 400;
}

.citahome {
    color: white;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
}

/* ############ PERSONAL BIOGRAPHY STYLES ############ */

#headerbio {
    background-image: url('../img/RD_edge2.jpg');
    background-size: cover;
    position: top;
    height: 100vh;
}

.biographyheader__titulo {
    font-family: 'Montserrat';
    color: #ffffff;
    font-size: 50px;
    padding-top: 13%;
    font-weight: bold;
    padding-left: 5%;
}

.descriptionbiography__contenido {
    color: white;
}

.videoyoutube__contenedor {
    display: flex;
    justify-content: center;
}

iframe {
    width: 90%;
    height: 80vh;
}

.videoyoutube__bajada {
    color: white;
}